body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230e0e0e'/%3E%3Cstop offset='1' stop-color='%230e0e0e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231b1a1a'/%3E%3Cstop offset='1' stop-color='%231b1a1a' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23282827'/%3E%3Cstop offset='1' stop-color='%23282827' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231B1B1B'/%3E%3Cstop offset='1' stop-color='%231B1B1B' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23353433'/%3E%3Cstop offset='1' stop-color='%23353433' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
  color: white;
}

/* Card con sombra */
.card2 {
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.52);
  margin: 2em;
}

/* Login layout */
.login-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.div-login1 {
  width: 35%;
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  flex-direction: column;
}

.div-login2 {
  width: 65%;
  background-color: #000;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prod{
  background-color: rgb(0, 0, 0) !important;
}

.div-login2 img {
  max-width: 60%;
  height: auto;
  object-fit: contain;
}

/* Login input */
.input-login {
  background-color: transparent !important;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  transition: all 0.2s;
}

.input-login:focus {
  border: 2px solid red !important;
  background-color: #212121 !important;
  outline: none;
  box-shadow: 0 0 10px red;
}

/* Label input */
.div-input-login {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.div-input-login label {
  font-size: 12px;
  margin-bottom: 5px;
}

/* Login button */
.button-login {
  --green: #ff0800;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  border: 2px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(255, 11, 11, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(250, 15, 15, 0.1) 100%
  );
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(243, 22, 22, 0.4),
    0 0 9px 3px rgba(243, 78, 22, 0.1);
  width: 100%;
}

.button-login:hover {
  color: #f21212;
  box-shadow: inset 0 0 10px rgba(243, 22, 22, 0.6),
    0 0 9px 3px rgba(243, 22, 22, 0.2);
}

.button-login:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 100%;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(255, 11, 11, 0.1) 40%,
    rgba(255, 11, 11, 0.1) 60%,
    transparent 100%
  );
}

.button-login:hover:before {
  transform: translateX(15em);
}

/* Navbar & Sidebar */
.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  margin-left: 240px;
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #495057;
}

.navbar .btn-link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

/* Formulario modal */
.form-create {
  background-color: #202020 !important;
  color: white;
}

.border-white {
  border: 1px solid white;
}
/* From Uiverse.io by Kabak */ 
.button-filtros{
color: white;
border: 1px solid white;

}

.button-filtros:hover{
  color: white;
  border: 1px solid rgb(255, 0, 0);

  }


/* Responsive */
@media (max-width: 992px) {
  .login-div {
    flex-direction: column;
  }

  .div-login1,
  .div-login2 {
    width: 100%;
    height: auto;
    padding: 2em;
  }

  .div-login2 img {
    max-width: 60%;
  }

  .main-content {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .div-login1 {
    padding: 1em;
  }

  .div-login2  {
    display: none;
  }

  .input-login {
    height: 38px;
    padding: 8px;
  }

  .button-login {
    font-size: 14px;
    padding: 0.6em 2em;
  }
}
